<footer class="bg-[#2C2C2C] py-12">
    <div class="max-w-6xl mx-auto px-8">

        <div class="grid grid-cols-2 md:grid-cols-3 gap-8 items-start">
            <div class="text-left flex items-center gap-3 col-span-2 md:col-span-1">
                <img src="logo.png" alt="Maria Fornet" class="h-10 w-10 object-contain rounded-full">
                <div>
                    <p class="text-white font-serif">Maria Fornet</p>
                    <p class="text-[#B8965A] text-xs tracking-widest font-sans">CENTRO DE ESTÉTICA</p>
                </div>
            </div>
            <div class="text-left md:text-center self-start">
                <p class="text-white font-semibold text-sm mb-4 font-serif">Encuéntranos</p>
                <p class="text-white/60 text-xs mt-6 md:mt-0 font-sans">Calle Botica 60, Sevilla</p>
                <p class="text-white/60 text-xs mt-1 font-sans">622 699 116</p>
                <p class="text-white/60 text-xs mt-3 font-sans">Lun–Vie · 10:00–14:00</p>
                <p class="text-white/60 text-xs mt-1 font-sans">Lun–Vie · 16:00–20:00</p>
            </div>

            <div class="text-left md:text-right items-start self-start">
                <p class="text-white font-semibold text-sm mb-4 font-serif">Síguenos</p>
                <a href="https://www.instagram.com/mariafornetestetica/"
                    class="text-white/60 text-xs hover:text-[#B8965A] font-sans mt-6 md:mt-0 block">@mariafornetestetica</a>
                <p class="text-white/40 text-xs mt-8 font-sans">© 2026 María Fornet</p>
                <p class="text-white/40 text-xs mt-1 font-sans">Centro de Estética</p>
                <br>
                <a routerLink="/privacy" class="text-white/40 text-xs mt-1 font-sans hover:text-[#B8965A]">Política
                    de
                    privacidad</a>
            </div>

        </div>

        <hr class="border-white/10 my-8">
        <p class="text-center text-white/40 text-sm font-sans">Diseñado con cuidado para tu bienestar</p>

    </div>
</footer>